body{
  background-color:yellow;
  color : #000000;
  font-size:62.5%;
}

#header{
  width:auto;
  height:80px;
  background-color:red;
  font-size:800%;
  text-align:center;
  font-family: 'Hiragino Kaku Gothic Std';
}

#contents{
  width:1000px;

min-height:440px;
  color : #000000;
  margin-right: 0 auto; //コンテンツにだけ中央寄せを指定
  margin-left : 40px;
  margin-top:1.5%;
  margin-bottom: 1.5%;
  background-color :#ffffff;
  font-size: 300%;
  line-height: 1.5em;
  border-radius: 15px;
  font-family: 'Meiryo';
  font-size: 500%;

  padding-left: 60px;
  padding-top: 60px;

  padding-right: 0.5%;
}




#right{

  position: absolute; /* 絶対位置で指定(親ボックス基準) */
  top: 100px;
  right:0px;

}



#footer{
  width: auto;
  height:80px;
  background-color :red;

  font-size:1.4em;
  text-align : center;
  bottom: auto;
}
