#gmap{
  float: left;
  padding-right: 30px;
  background-color: white;
  /*position: fixed;
  top: 0
  bottom: 0;
  margin-right: 700px;
  width: 200px;
  */
}
#header{
  font-size: 200%;
  font-family: 'Meiryo';
  background-color: red;
  padding-left: 500px;
  height: 80px;
  position: center;
}
#container{
  background: white;
}
#container p{
  font-size: 300%;
  padding-left: 300px;
  top: 0;
}
.clear {
    clear:both;　/*floatの解除、ここがポイント*/
}
#footer{
  background-color: yellow;
  height: 80px;
}
